= simple_form_for @tracking, remote: true do |f|
  .panel.panel-default
    .panel-body
      %h3 Appointment Selection
      .row
        .col-md-4
          = f.association :cat
        .col-md-4
          = f.association :sbcat, collection: @tracking.cat.try(:sbcats), disabled: @tracking.cat.try(:sbcats).blank?
        .col-md-4
          = f.association :typ

      .panel.panel-info
        .panel-heading
          %h4.total= t 'trackings.new.availabilities_count', count: @current_availabilities.count
      
      %h4 Availability History
      = line_chart @chart_data, label: t('trackings.new.chart.yaxis'), height: '150px'

  .panel.panel-info.tracking-form
    .panel-body
      %h3 Track availabilities
      %p Receive a e-mail when new appointments are available
      .form-horizontal
        = f.simple_fields_for :user, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
          = f.input :name, wrapper: :horizontal_form
          = f.input :email, wrapper: :horizontal_form
          = f.input :eula, as: :boolean, wrapper: :horizontal_boolean
        = f.button :submit, class: "btn btn-lg btn-primary"